[Interface]
Address = {{ hostvars[inventory_hostname]['wireguard_ip'] }}/32
PrivateKey = {{ hostvars[inventory_hostname]['wireguard_private_key'] }}
ListenPort = {{ hostvars[groups['master'][0]]['wireguard_listen_port'] }}
PostUp = iptables -A FORWARD -i {{ hostvars[inventory_hostname]['wireguard_interface'] }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ hostvars[inventory_hostname]['public_interface'] }}  -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ hostvars[inventory_hostname]['wireguard_interface'] }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ hostvars[inventory_hostname]['public_interface'] }}  -j MASQUERADE

[Peer]
PublicKey = {{ hostvars[groups['master'][0]]['wireguard_public_key'] }}
Endpoint = {{ hostvars[groups['master'][0]]['wireguard_endpoint'] }}
AllowedIPs = {{ hostvars[groups['master'][0]]['wireguard_ip'] }}/32
PersistentKeepalive = 20
