[Interface]
    Address = {{ wireguard_ip }}/32
    PrivateKey = {{ wireguard_private_key }}

[Peer]
    PublicKey = {{ server_public_key }}
    Endpoint = {{ server_endpoint }}
    AllowedIPs = {{ AllowedIPs }}/32
    PersistentKeepalive = 20
    