[Interface]
Address = {{ hostvars[inventory_hostname]['wireguard_ip'] }}/24
ListenPort = {{ hostvars[inventory_hostname]['wireguard_listen_port'] }}
PrivateKey = {{ hostvars[inventory_hostname]['wireguard_private_key'] }}

PostUp = iptables -A FORWARD -i {{ hostvars[inventory_hostname]['wireguard_interface'] }} -j ACCEPT; iptables -t nat -A POSTROUTING -o {{ hostvars[inventory_hostname]['wireguard_interface'] }} -j MASQUERADE
PostDown = iptables -D FORWARD -i {{ hostvars[inventory_hostname]['wireguard_interface'] }} -j ACCEPT; iptables -t nat -D POSTROUTING -o {{ hostvars[inventory_hostname]['wireguard_interface'] }}  -j MASQUERADE

{% for client in groups['vpn'] %}
[Peer]
PublicKey = {{ hostvars[client]['wireguard_public_key'] }}
AllowedIPs = {{ hostvars[client]['wireguard_ip'] }}/32
PersistentKeepalive = 20
{% endfor %}
